BOT_TOKEN=YOUR_BOT_TOKEN
OWNER_ID=YOUR_TELEGRAM_USER_ID
CHANNEL_ID=YOUR_CHANNEL_ID

WAIFU_LINK=https://t.me/your_waifu_link
GROUP_LINK=https://t.me/+00J7JktW8bJlZTY1
CHANNEL_LINK=https://t.me/+E6BxfAj0gaI2Y2Zl

DATABASE_PATH=nexus_cards.db
BOT_NAME=Nexus Catch Bot
